In [1]:
import numpy as np
import pandas as pd

In [2]:
%config IPCompleter.greedy=True

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

Read the CSV

In [4]:
df = pd.read_csv('C:/Users/NihalNamya/Python/IRIS.csv', sep=',')

View top 5 rows of data

In [6]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

View last 5 rows of data

In [10]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [7]:
print(df.sum())

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
species         Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [8]:
print(df.mean())

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [9]:
print(df.median())

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

Display all columns and their data types

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

Shows you some basic descriptive statistics for all numeric columns

In [19]:
print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Now, using it for specific datatypes

In [20]:
print(df.describe(include=np.object))

               species
count              150
unique               3
top     Iris-virginica
freq                50

It counts frequency of particular element in specific column

In [22]:
print(df['species'].value_counts())

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: species, dtype: int64

In [25]:
print(df.index)

RangeIndex(start=0, stop=150, step=1)

In [ ]:
print(df.values)

In [32]:
print(df.axes) #refers to two dimensions

[RangeIndex(start=0, stop=150, step=1), Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')]

In [35]:
print(pd.unique(df['species']))

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']